<h1>Private page for {{user.username}}</h1>
<img src="https://media4.giphy.com/media/S5n7Wkhhw5A2IrfKER/giphy.gif?cid=ecf05e472lrhyjlnisis1yexnj420vkjd3c7o0iayu1hi0u8&rid=giphy.gif&ct=g" alt="frodo gif"/>
<a href="/profile">Go to profile</a>